<div id="header" class="row no-gutters">
  <div class="col-md-2 " style="background-color: #1e282d; display: inline-block">
      <p><img src="../../../assets/user.svg" style="height:30px; margin:0.5%;"> {{user.username}} {{user.usertype}}</p>
  </div>

  <div class="col-md-3">
      <div class="searchContainer">
          <i class="fa fa-search searchIcon"></i>
          <input class="searchBox" type="search" name="search" placeholder="Search...">
      </div>
  </div>
  <div class="col-md-4" style="text-align: center">
      <img src="../../../assets/logo.svg" alt="header" style="width:30%; height: 30%;">
  </div>
  <div class="col-md-1" style="text-align: center">
  </div>
  <div class="col-md-2" style="display: inline-block">
<a><i class="fas fa-phone" style="font-size:25px; padding:12px"></i></a> 
<a><i class="fas fa-bell" style="font-size:25px; padding:12px"></i></a> 
<a><i class="fas fa-envelope" style="font-size:25px; padding:12px"></i></a> 
  </div>
</div>