.image {
    background: url(background.jpg) no-repeat center ; position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.exactCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    height: 700px;
    width: 800px;
  }

.clickersignup{
    display: block;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 570px;
    top: 160px;
}

.clickerlogin{
    display: block;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 80px;
    top: 110px;
}

.slideR{
    -webkit-animation: slideR 3s forwards ease;
}

@-webkit-keyframes slideR {
  
    100% {
        
        transform: translate(-90%, -50%);
      }
}

.slideL{
    -webkit-animation: slideL 3s forwards ease;
}

@-webkit-keyframes slideL {
  
    100% {
        
        transform: translate(-10%, -50%);
      }
}


/*form{
    margin-top:270px;
    width: 55%;
    padding: 10px;
    border-radius:0;
    border-color: crimson;
}

img{
    position: inherit;
    width:50%;
    margin: 12%;
}

input, input:hover, input::selection, input:checked, input:focus{
    border: 0;
    background-color: rgb(2, 90, 131);
    border-radius: 0;
    color: white;
    border-bottom: 1px solid crimson;
    margin: 0px; 
}

.container-fluid{
    background-color: rgb(2, 90, 131);
    height: 100vh;
}
input::placeholder{
    color: white;
}
.form-control{
border: none;
background-color: rgb(2, 90, 131);
color: white;
border-bottom: 1px solid white;
}

.login{
border: none;
background-color: rgb(2, 90, 131);
color: white;
border: 1px solid white;
border-radius: 2px;
padding-top: 10px;
padding-right: auto;
padding-bottom: 10px;
padding-left: auto;
}

p{
font-size: 14px;
color: white;
}*/